# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

00Game/
01Duedo_Utili/
website/
00_BACKUP_BEFORE_GAME
ECS/
ComicPart/
00_test/
node_modules/
0test/
build/
node_modules/
# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

*.txt

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
node_modules
node_modules
node_modules
node_modules
node_modules
node_modules
node_modules
node_modules
node_modules
